{%extends "base.html"%}

{%block title%}

HOME

{%endblock%}

{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/home.css') }}">
{%endblock%}

{%block content%}

<h1 align = "center">QUIZZHUB</h1>

<div class="wrapper">
    <form method="POST">
        <input type="search" id="search_usr" name="search_usr" placeholder="Search user"/> 
        <button type="submit" id="submit_btn">Search user</button>
    </form>
    <br>
    {%if usr_search_results%}
        {%for x in usr_search_results%}
        <a class="search_results"  href="profile/{{x.first_name}}">{{x.first_name}}</a>
        {%endfor%}
    {%endif%}
</div>

<div class="frnd_req_container">
    <h2 align="center"> FRIEND REQUESTS</h2>
    {%if frnd_req_list%}
        {%for x in frnd_req_list%}
        <div class="frnd_req_list">
            <span>{{x.sender_user}}</span>
            <button class="frnd_req_btn" onclick="frnd_req(1,'{{x.sender_user}}')">ACCEPT</button>
            <button class="frnd_req_btn" onclick="frnd_req(0,'{{x.sender_user}}')">REJECT</button>
        </div>
        {%endfor%}
    {%endif%}
</div>

{%endblock%}


{%block script%}
<script src="{{ url_for('static',filename='home.js') }}"></script>
{%endblock%}