{%extends "base.html"%}

{%block title%}

HOME

{%endblock%}

{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/home.css') }}">
{%endblock%}

{%block content%}

<h1 align = "center">QUIZZHUB</h1>

<div class="wrapper">
    <form method="POST">
        <input type="search" id="search_usr" name="search_usr" placeholder="Search user"/> 
        <button type="submit" id="submit_btn">Search user</button>
    </form>
    <br>
    {%if usr_search_results%}
        {%for x in usr_search_results%}
        <a class="search_results"  href="profile/{{x.first_name}}">{{x.first_name}}</a>
        {%endfor%}
    {%endif%}
    
</div>
   


{%endblock%}