{%extends "base.html"%}

{%block title%}

Test

{%endblock%}


{%block content%}

<h1>This is the test page</h1>

<!-- {% for x in message1 %}
    {{x.id}}
    {{x.first_name}}
    {{x.email}}
{%endfor%} -->
<br>

{% for x in message2 %}
    {{x.quiz_id}}
    {{x.user_id}}
    {{x.quiz_title}}
    {{x.quiz_description}}
    <br>
{%endfor%}
<br>
<br>

{% for x in message3 %}
    {{x.question_id}}
    {{x.quiz_id}}
    {{x.question_text}}
    <br>
{%endfor%}
<br>
<br>
{% for x in message4 %}
    {{x.option_id}}
    {{x.question_id}}
    {{x.option_text}}
    {{x.is_correct}}
    <br>
{%endfor%}

<br>

{% for x in message5 %}
    {{x.id}}
    {{x.quiz_id}}
    {{x.user_id}}
    {{x.user_score}}
    <br>
{%endfor%}
<br>
{%for x in message6%}
{{x.user_id}}
{{x.profile_img}}
{%endfor%}

<br>
{%for x in message7%}
{%if x%}
<h1> Hello</h1>
{%endif%}
{%endfor%}




{%endblock%}