*{
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 0);
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url("Pictures/base_background");
    background-repeat: no-repeat;
    background-size: cover;
}



.navbar{
    background-color: rgb(0, 0, 0);
    height: 7vh;
    display: flex;
    align-items: center;
}


.link_container{
    width: 60%;
}

.nav-item{
    margin:3%;
    padding: 1.2%;
    height: ;
    border: solid rgb(0, 255, 0);
}
a{
    text-decoration: none;
}

