a{
    border: none;
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    li {
      padding: 2% 4%;
      border: 1px solid green;
      a {
          text-decoration: none;
          display: block;
      }
    }
  }

.links {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.container_title{
    font-size: 2em;
    align-self: center;
}
.profile_quizes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    padding: 2%;
}

/* .container{
    display: flex;
    flex-direction: row;
} */



.quiz_container{
    border: solid rgb(0, 255, 0);
    border-radius: 2%;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.quiz_taken{
    width: 20vw;
    padding: 1%;
    margin: 1%;
    border: solid rgb(0, 255, 0);
}

.text1{
    margin-right: 20%;
}

.text2{
    margin-left: 20%;

}