.question_box{
    border: solid rgb(0, 255, 0);
    border-radius: 3%;
    height: max-content;
    width: max-content;
    margin: 1%;
    padding: 1%;
}
.sbmt_btn{
    height: fit-content;
    width: fit-content;
    padding: 0.5%;
    background-color: black;
    border: solid rgb(0, 255, 0);
    align-content: center;
    align-self: center;
    cursor: pointer;
}