@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
 }

 @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
    }
    
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translatex(-100%);
    }
    100% {
      transform: translatex(0);
    }
  }

.text1{
    font-size: 2em;
    margin: 5px;
}

.text2{
    font-size: 1em;
    margin: 5px;
}

#title{
    animation: fadeIn 0.7s ease-in; 
}



.container{
    animation: 1.3s ease-out  1 slideInTop;
}

.ques_container{
    animation: 2.1s ease-out  1 slideInTop;
}

.submit_btn{
    animation: 2.1s ease-out  1 slideInTop;
}



.submit_btn{
    height: 2vh;
    width: 3vw;
    border: solid rgb(0, 255, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}

.question{ 
    height: max-content;
    width: max-content; 
    border: solid rgb(0, 255, 0);
    border-radius: 4%;
    margin: 1%;
    padding: 1%;
}

.secondary_question{
    animation: 1s ease-out  1 slideInLeft;
}



.submit_btn{
    height: max-content;
    width: max-content;
    padding: 0.5%;
    cursor: pointer;
}

.ques_container{
    display: flex;
    flex-direction: row;

}

#add_que_btn{
    height: fit-content;
    width: fit-content;
    padding: 1%;
    background-color: black;
    border: solid rgb(0, 255, 0);
    align-content: center;
    font-size: 3em;
    align-self: center;
    cursor: pointer;

}

.text{
    background-color: rgb(71, 71, 71);
    border: solid rgb(0, 0, 0);
    border-radius: 2%;
    border-width: 2px;
}