<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}
        {%endblock%}
    </title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <nav class="navbar"> 
        <!-- <button class="navbar-toggle" type="button" data-toggle = "collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"> 
                
            </span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="login" href="/login">LOGIN</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                <a class="nav-item nav-link" id="logout" href="/logout">LOGOUT</a>
                <a class="nav-item nav-link" id="home" href="/">HOME</a>
            </div>
        </div>
    </nav>
    <div class="container">
    {% block content%}
    {%endblock%}
    </div>
    
	<!-- <script src="index.js"></script> -->
  </body>
</html>