{%extends "base.html"%}

{%block title%}
LOGIN page
{%endblock%}

{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/login_style.css') }}">
{%endblock%}

{%block content%}
<div class="wrapper">
<form method="post">
    <h3 align ="center" style="font-size: 3em;">Log in</h3>    
    <div class="form-container">
        <label for="email" style="font-size: 1.5em;">Enter email</label>
        <br>
        <input type="email" 
        class="input" 
        id="email" 
        name = "email" 
        placeholder="abc@gmail.com"
        style="font-size: 1em;"/>
    </div>
    <div class="form-container">
        <label for="password" style="font-size: 1.5em;">Password</label>
        <br>
        <input type="password" 
        class="input" 
        id="password" 
        name = "password" 
        placeholder="Enter password"/>
    </div>    
    <button type="submit" class="submit_btn">Login</button>
    </form>
</div>

{%endblock%}