{%extends "base.html"%}

{%block title%}

{{user}}

{%endblock%}


{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/profile.css') }}">
{%endblock%}


{%block content%}


{%if user.first_name%}
    <h1 align="center">This is the profile page of {{user.first_name}}</h1>
{%else%}
 <h1>  This is the profile page of {{user}} </h1>   

 {%endif%}


<div class="quiz_container">
    <span class="container_title">QUIZES</span>
    <br>
    <div class="profile_quizes">
        {%for x in quizes%}
                <a class="links" href="/quiz_taker/{{x.quiz_id}}">{{x.quiz_title}}</a>
        {%endfor%}
    </div>

</div>


{%endblock%}