{%extends "base.html"%}

{%block title%}
Quiz

{%endblock%}
{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/quiz_taker.css') }}">
{%endblock%}

{%block content%}
<h1 align = "center">{{quiz_query.quiz_title}}</h1>
<h3> {{quiz_query.quiz_description}} </h3>


<form method="post">
<div class="question_box">
    {%for x in question_query%}
        {{x.question_text}}?
    {%endfor%}
<br>

{%for x in option_query%}
    {%for i in range(0,4)%}
        <input type="radio" name="option"/>
        <label>{{x[i].option_text}}</label>
    {%endfor%}
{%endfor%}
</div>
</form>


{%endblock%}


{%block script%}

<script src="{{ url_for('static',filename='quiz_taker.js') }}"></script>
{%endblock%}