{%extends "base.html"%}

{%block title%}
Quiz

{%endblock%}
{%block head%}
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/quiz_taker.css') }}">
{%endblock%}

{%block content%}
<h1 align = "center">{{quiz_query.quiz_title}}</h1>
<h3> {{quiz_query.quiz_description}} </h3>


<form method="post" class="form">

    



    

{% for i in range(question_query|length) %}
    {% set question = question_query[i] %}
    <div class="question_box">
        <label class="question">
        Q{{i+1}}.
        {{ question.question_text }}?
        </label>
        <br>
        {% for x in option_query[i] %}
            <input type="radio" class="option" name="{{i+1}}" value="{{ x.option_text }}"/>
            <label for="text"> {{ x.option_text }}</label>
        {% endfor %}
    </div>
{% endfor %}


<button type="submit" class="sbmt_btn">SUBMIT</button>
</form>


{%endblock%}


{%block script%}

<script src="{{ url_for('static',filename='quiz_taker.js') }}"></script>
{%endblock%}